body{
    /* background-color: #002147!important; */
    font-family: 'Roboto',
    sans-serif;
    background-image: url(Asset/12-410x260.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* main section */

.maindiv {
    width: 350px;
    background-color: white;
    color: #002147;
    top: 53%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: 7px;
}



/* input section */

#input1,
#input2 {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid #002147;
    border-radius: 13px;
    outline: hidden;
    color: #002147;
    height: 45px;
    font-weight: 500;
    
}

#input3 {
    padding: 10px;
    margin-top: 20px;
    width: 95%;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    background-color: #002147;
    color: white;
    font-weight: 700;
}

/* label section */

label {
    font-size: 1.1rem;
    font-family: "Corbel";
    font-weight: bolder;
    margin-top: 20px;
    display: block;
}

/* warning section */

.warning {
    display: none;
    font-size: .9rem;
}

.ash{
    text-align: center;
    font-family: 'Roboto',
    sans-serif;
    position: absolute;
    left: 40%;
    top: 15%;
}

.sign{
    color: #002147;
    font-family: 'Roboto',
    sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.portal{
    display: flex;
    justify-content: space-around;
}
.forget{
    text-decoration: none;
    color: #002147;
    font-size: 15px;
    font-weight: 600;
    
}

.footer{
    position: absolute;
    top: 90%;
    left: 39%;
}

.home{
    text-decoration: none;
    color: #002147;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto',
    sans-serif;
}
.homeT{
    margin-top: 30px;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

::placeholder{
    color: gray;
    font-size: 16px;

}
